@media (max-width: 767px) {
  .container {
    #contact-section {
      .side-label {
        display: none;
      }
      .icon-email {
        width: 100px;
      }
      .icon-twitter {
        width: 100px;
      }
      .tweets {
        .feedcell {
          .feedtext {
            width: 310px;

          }
        }
      }
      form ul li {
        .submit {
          margin-left: 95px;
        }
        label.desc {
          width: 90px;
        }
      }
    }
  }
}

