@media (max-width: 767px) {
  .container {
    #home-section {
      padding-top: 125px;
      margin-top: -125px;
      p {
        font-size: 40px;
        margin-left: 40px;
        margin-right: 20px;
        padding-top: 10px;
      }
    }
  }
}
