@media (max-width: 767px) {
  .container {
    #home-section {
      padding-top: 25px;
      p {
        font-size: 40px;
        margin-left: $mobile-left-gutter;
        margin-right: 10px;
        padding-top: 10px;
      }
    }
  }
}
