$mobile-left-gutter: 20px;
@media (max-width: 767px) {

  .container {
    width: auto;
    &.body {

      > div {
        //padding-top: 20px;
      }
    }

    .section {
      > .side-label {
        display: none;
      }
      > h3 {
        margin-top: 10px;

      }
      > h3, > p {
        margin-left: $mobile-left-gutter;
        margin-right: 30px;
      }
      .sub-section {

        .carousel {
          margin-left: 0px;
          margin-right: 0px;

          .carousel-control {
            opacity: 0.1;
            width: 60px;
            &.right {
              right: 0px;
            }
            &.left {
              float: none;
              left: 0px;
            }
          }

          .item {
            margin-left: 0px;
            p, h4 {
              padding-right: $mobile-left-gutter;
              padding-left: $mobile-left-gutter;
            }
            ul {
              margin-left: 40px;
            }
          }
        }
      }
    }
  }
  .break {
    height: 37px;
    // margin-top: -37px;
  }
  .section {
    margin-bottom: -37px;
  }

}





