@media (max-width: 767px) {
  .container {
    #what-section {
      .sub-section {
        .carousel {
          height: 450px;
          .carousel-inner {
            .item {
              margin-top: 200px;
            }

          }
          .carousel-control {
            padding-top: 140px;
          }
        }
      }
    }
  }
}

