@media (max-width: 767px) {
  .container {
    #who-section {
      p {
       // margin-left: 135px;
      }

      .sub-section {
        margin-left: $mobile-left-gutter;
        margin-right: $mobile-left-gutter;
        border: 0;
        .side-label {
         // display: none;
          background: none;
          padding:0;
          font-weight: bold;
          text-align: left;
          font-size: 20px;
        }
        .description {
          width: auto;
          padding: 0;
        }
        .photo {
          width: 260px;
          height: 170px;
        }

        .middle {
          vertical-align: top;
          > div {
            vertical-align: top;
            display: inline-block;
          }
          .contact-info {
            ul {
              margin-left:0px;
              padding-top:10px;
            }
          }
        }

      }
    }
  }
}

