#contact-section {


  .icon-email {
    background: url(../img/tapangi-icon-email.png) center center no-repeat;
  //  background-size: contain;
    width: 130px;
    height: 85px;
    margin-left: 4px;
  }
  .icon-twitter {
    background: url(../img/tapangi-icon-twitter.png) center center no-repeat;
 //    background-size: contain;
    width: 130px;
    height: 85px;
    margin-left: 4px;
  }
  .tweets {
    //min-width: 565px;
    padding:1px;
    height: 83px;
    margin-left: 4px;
    overflow: hidden;
    background-color: #555b67;
    color: #dbff68;
    .feedcell {
      height: 85px;

      .feedtext {
        width:450px;
        padding-top:15px;
        .user {
          mergin-right:3px;
        }
      }
      font-size: 13px;
      * {
        float: left !important;
      }
      .authorimg {
        display: block;
        padding:18px;
      }

    }
  }
  .row {
    &.sub-section {
      > div {
        display: inline-block;
      }
    }
  }
  iframe {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
  form {
    //resets
    input, textarea {
      margin: 0;
      padding: 0;
      border: 0;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;

    }
    ul {
      width: 600px;
      li {

        margin: 0px;
        margin-bottom: 5px;

        padding: 0;
        label.desc {
          vertical-align: top;
          color: #0D78BF;
          background-color: #E2E2E2;
          margin: 0;
          text-align: center;
          padding-top: 33px;
          padding-bottom: 33px;
          width: 130px;
          display: inline-block;
          font-size: 15px;
          line-height: 19px;
        }
        .field-body {
          background-color: #E2E2E2;
          display: inline-block;
          padding: 14px;
          margin: 0;
          input {
            height: 35px;
            padding: 10px;
            border: 1px solid #E2E2E2;
          }
          .fn, .ln {
            width: 180px;

          }
          .org, .email, .message {
            width: 412px;
          }
          .message {
            padding: 10px;
          }
        }
        .submit {
          margin-left: 135px;
          [ type = submit ] {
            padding-top: 30px;
            padding-bottom: 30px;
            width: 130px;
            background-color: #dbff68;
          }
        }
      }

    }
  }
}
