
#how-section {
  .sub-section {

    .carousel {
      .carousel-control {

      }
    }
    #how-disc {

      background: url(../img/tapangi-how-disc-bg.png) center center no-repeat;
      width: 237px;
      height: 237px;
      position: absolute;
      z-index: 10;
      margin-top: 20px;
      margin-left: 130px;

      .indicator {
        width: 28px;
        height: 36px;
        position: absolute;
        top:100px;
        right: 0;
        background: url(../img/tapangi-disc-indicator.png) center center no-repeat;
        display: block;
      }
      &.analyze-active {
        .highlight {
          background-image: url(../img/tapangi-how-disc-analyze-active.png);
          @include rotation(126deg);
          .disc-icon {
            @include rotation(-126deg);
            &.disc-icon-analyze {
              background-image: url(../img/tapangi-icon-analyze-active.png);
            }
          }

        }
      }

      &.architect-active {
        .highlight {
          background-image: url(../img/tapangi-how-disc-architect-active.png);
          @include rotation(54deg);
          .disc-icon {
           @include rotation(-54deg);
            &.disc-icon-architect {
              background-image: url(../img/tapangi-icon-architect-active.png);
            }
          }

        }
      }

      &.build-active {
        .highlight {
          background-image: url(../img/tapangi-how-disc-build-active.png);
          @include rotation(-18deg);
          .disc-icon {
            @include rotation(18deg);
            &.disc-icon-build {
              background-image: url(../img/tapangi-icon-build-active.png);
            }
          }

        }
      }
      &.launch-active {
        .highlight {
          background-image: url(../img/tapangi-how-disc-launch-active.png);
          @include rotation(-90deg);
          .disc-icon {
           @include rotation(90deg);
            &.disc-icon-launch {
              background-image: url(../img/tapangi-icon-launch-active.png);
            }
          }

        }
      }
      &.scale-active {
        .highlight {
          background-image: url(../img/tapangi-how-disc-scale-active.png);
          @include rotation(-162deg);
          .disc-icon {
           @include rotation(162deg);
            &.disc-icon-scale {
              background-image: url(../img/tapangi-icon-scale-active.png);
            }
          }

        }
      }
      &.kick-off-active {
        .indicator {
          display: none;
        }
        .center-icon {
          &.center-icon-communicate {
            display: none;
          }
          &.center-icon-kick-off {
            display: block;
          }
        }

      }
      &.communicate-active {
        .indicator {
          display: none;
        }
        .center-icon {
          &.center-icon-communicate {
            background-image: url(../img/tapangi-icon-communicate-active.png);
          }
        }
      }
      &.analyze-over {
        .highlight {
          background-image: url(../img/tapangi-how-disc-analyze-over.png);
          .disc-icon.disc-icon-analyze {
            background-image: url(../img/tapangi-icon-analyze-down.png);
          }
        }
        &.down {
          .highlight {
            background-image: url(../img/tapangi-how-disc-analyze-down.png);
            .disc-icon.disc-icon-analyze {
              background-image: url(../img/tapangi-icon-analyze-down.png);
            }
          }
        }
      }
      &.architect-over {
        .highlight {
          background-image: url(../img/tapangi-how-disc-architect-over.png);
          .disc-icon.disc-icon-architect {
            background-image: url(../img/tapangi-icon-architect-down.png);
          }
        }
        &.down {
          .highlight {
            background-image: url(../img/tapangi-how-disc-architect-down.png);
            .disc-icon.disc-icon-architect {
              background-image: url(../img/tapangi-icon-architect-down.png);
            }
          }
        }
      }
      &.build-over {
        .highlight {
          background-image: url(../img/tapangi-how-disc-build-over.png);
          .disc-icon.disc-icon-build {
            background-image: url(../img/tapangi-icon-build-down.png);
          }
        }
        &.down {
          .highlight {
            background-image: url(../img/tapangi-how-disc-build-down.png);
            .disc-icon.disc-icon-build {
              background-image: url(../img/tapangi-icon-build-down.png);
            }
          }
        }
      }
      &.launch-over {
        .highlight {
          background-image: url(../img/tapangi-how-disc-launch-over.png);
          .disc-icon.disc-icon-launch {
            background-image: url(../img/tapangi-icon-launch-down.png);
          }
        }
        &.down {
          .highlight {
            background-image: url(../img/tapangi-how-disc-launch-down.png);
            .disc-icon.disc-icon-launch {
              background-image: url(../img/tapangi-icon-launch-down.png);
            }
          }
        }
      }
      &.scale-over {
        .highlight {
          background-image: url(../img/tapangi-how-disc-scale-over.png);
          .disc-icon.disc-icon-scale {
            background-image: url(../img/tapangi-icon-scale-down.png);
          }
        }
        &.down {
          .highlight {
            background-image: url(../img/tapangi-how-disc-scale-down.png);
            .disc-icon.disc-icon-scale {
              background-image: url(../img/tapangi-icon-scale-down.png);
            }
          }
        }
      }
      &.communicate-over {
        .center-icon {
          &.center-icon-communicate {
            background-image: url(../img/tapangi-icon-communicate-over.png);
          }
        }
        &.down {
          .center-icon {
            &.center-icon-communicate {
              background-image: url(../img/tapangi-icon-communicate-down.png);
            }
          }
        }
      }
      .highlight {

        @include rotation(0deg);
        @include transition-timing(.2s);
        &.rotating {
          @include transition-timing(.6s);
        }

        width: 237px;
        height: 237px;
        position: absolute;
        //border-radius: 120px;
        background-position: center center;
        background-repeat: no-repeat;
        .prongs {
          background: url(../img/tapangi-how-disc-prongs.png) center center no-repeat;
          width: 237px;
          height: 237px;
          position: absolute;
         // border-radius: 120px;

        }
        > .disc-icon {
          -webkit-transition: .6s ease-in-out center;
          -moz-transition: .6s ease-in-out center;
          -ms-transition: .6s ease-in-out center;
          -o-transition: .6s ease-in-out center;
          transition: .6s ease-in-out center;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          width: 55px;
          height: 55px;
          position: absolute;
          background-size: 50px 50px;
          background-position: center center;
          background-repeat: no-repeat;
          &.disc-icon-analyze {
            background-image: url(../img/tapangi-icon-analyze.png);
            top: 28px;
            left: 46px;
            background-size: 45px 45px;
          }
          &.disc-icon-architect {
            background-image: url(../img/tapangi-icon-architect.png);
            top: 28px;
            left: 139px;

          }
          &.disc-icon-build {
            background-image: url(../img/tapangi-icon-build.png);
            top: 116px;
            right: 17px;

          }
          &.disc-icon-launch {
            background-image: url(../img/tapangi-icon-launch.png);
            top: 170px;
            right: 90px;

          }
          &.disc-icon-scale {
            background-image: url(../img/tapangi-icon-scale.png);
            top: 115px;
            left: 15px;
          }
        }


      }
      > .center-icon {
        position: absolute;
        top: 67px;
        left: 68px;
        width: 105px;
        height: 105px;
       // @include transition-timing(.2s);
        @include rotation(0deg);

        &.center-icon-communicate {
          background-image: url(../img/tapangi-icon-communicate.png);
        }
        &.center-icon-kick-off {
          background-image: url(../img/tapangi-icon-kick-off-active.png);
          display: none;
        }
      }

    }
  }
}