$navbar-text-color: #5d636f;
$navbar-height: 100px;
$navbar-height-collapse: 40px;

.navbar {

  color: $navbar-text-color;
  .btn-navbar {
    color: #e5e6e8;
    background: none;

    padding: 0px;
    margin: 0px;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-right: 5px;
    &:hover {
      background: none;
    }
    > span {
      vertical-align: top;
      display: inline-block;

      font-size: 22px;
    }
    .nav-text {
      padding-top: 18px;
    }
    .icon {
      background: url(../img/tapangi-navbar-button.png) center center no-repeat;
      width: 50px;
      height: 50px;

    }
    &.active {
      background: none;
      .icon {
        background: url(../img/tapangi-navbar-button-active.png) center center no-repeat;
      }
    }

  }
  .navbar-inner {

    background-image: none;
    background-color: #ffffff;
    height: $navbar-height;

    .container {
      vertical-align: middle;

    }

    a.logo {
      float: left;
      width: 95px;
      height: 135px;
      background: url(../img/tapangi-logo.png) no-repeat;
    }
    .nav {
      ul {
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
      }
      > li {
        height: $navbar-height;
        display: inline-block;
        list-style: none outside none;
        .pointy {
          width: 20px;
          height: 20px;
          margin-top: -10px;
          margin-left: 50%;

        }
        > a {
          @include default-font;
          color: $navbar-text-color;
          display: inline-block;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-left: 30px;
          padding-right: 30px;
          background: #ffffff;
        }
        &.active {
          > a {
            background: #ffffff;
            color: #1a51aa;
          }

        }
      }

    }
  }

}
