@font-face {
  font-family: 'TitilliumText22LThin';
  src: url('../fonts/TitilliumText22L001-webfont.eot');
  src: url('../fonts/TitilliumText22L001-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/TitilliumText22L001-webfont.woff') format('woff'), url('../fonts/TitilliumText22L001-webfont.ttf') format('truetype'), url('../fonts/TitilliumText22L001-webfont.svg#TitilliumText22LThin') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'TitilliumText22LLight';
  src: url('../fonts/TitilliumText22L002-webfont.eot');
  src: url('../fonts/TitilliumText22L002-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/TitilliumText22L002-webfont.woff') format('woff'), url('../fonts/TitilliumText22L002-webfont.ttf') format('truetype'), url('../fonts/TitilliumText22L002-webfont.svg#TitilliumText22LLight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'TitilliumText22LRegular';
  src: url('../fonts/TitilliumText22L003-webfont.eot');
  src: url('../fonts/TitilliumText22L003-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/TitilliumText22L003-webfont.woff') format('woff'), url('../fonts/TitilliumText22L003-webfont.ttf') format('truetype'), url('../fonts/TitilliumText22L003-webfont.svg#TitilliumText22LRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@mixin default-font {
  font-family: 'TitilliumText22LLight';
  font-size: 26px;
  color: #6e747e;
}

.container {
  &.body > div {
    //padding-top: 145px;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    .intro {

    }
  }
  .section {
    a {
      text-decoration: none;
      color: #6e747e;
      background-color: #dbff68;
      &:active {
        text-decoration: none;
      }

      img {
        vertical-align: middle;
        margin-bottom: 35px;
      }
    }

    color: #666766;
    border-bottom: 1px solid #aaadb3;

    .heading {
      margin-bottom: 5px;
      > div {
        vertical-align: top;
        float: left;
      }
    }
    > h3 {
      margin-left: 140px;
      margin-right: 140px;
      font-size: 22px;
      margin-bottom: 10px;
      margin-top: -70px;
    }

    > p {
      margin-left: 140px;
      margin-right: 140px;
      font-size: 14px;
      min-height: 70px;
    }
    .side-label {
      width: 130px;
      color: #0d78bf;
      background-color: #e2e2e2;
      margin: 0;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      line-height: 25px;
    }
    .sub-section {
      border-top: 1px solid #aaadb3;
    }

  }
}

.row {
  margin-left: 0;
}

body {
  background: url(../img/tapangi-background.png) repeat;
  background-attachment: fixed;
  @include default-font;

}

p, button {
  @include default-font;
}

.sub-section {
  margin-top: 20px;
  .carousel {
    height: 280px;
    margin-left: 130px;
    margin-right: 130px;
    background: #e2e2e2;

    .item {
      margin-top: 25px;
      margin-left: 245px;
      h4 {
        font-size: 22px;
        font-weight: bold;

      }
      p {
        font-size: 14px;
        padding-top: 5px;
        padding-right: 80px;
      }

      li {
        font-size: 14px;
      }
    }

    .carousel-control {
      &.right {
        right: -83px;
      }
      &.left {
        float: none;
        left: -83px;
      }
      padding-top: 125px;
      font-size: 120px;
      vertical-align: middle;
      top: 0px;
      margin-top: 0px;
      width: 80px;
      bottom: 0px;
      height: auto;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border: 0px;
      background-color: #eaeaea;
      color: #666766;
      opacity: 0.5;
      filter: alpha(opacity = 50);
      &:hover {
        color: #eaeaea;
        background-color: #ffffff;
        text-decoration: none;
        opacity: 0.9;
        filter: alpha(opacity = 90);
      }
    }

  }
}

@mixin transition-timing($seconds) {
  -webkit-transition: $seconds ease-in-out;
  -moz-transition: $seconds ease-in-out;
  -ms-transition: $seconds ease-in-out;
  -o-transition: $seconds ease-in-out;
  transition: $seconds ease-in-out;
}

@mixin rotation($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.back-to-top {
  position: absolute;
  width: 42px;
  height: 37px;
  background: url(../img/tapangi-back-to-top.png) center center no-repeat;
  background-size: contain;
  bottom: 0;
  right: 0px;
  opacity: .5;
  cursor: pointer;
}

.break {
  height: 125px;
  margin-top: -125px;
}
