#what {
  .sub-section {

    .carousel {
      .carousel-control {

      }
    }
    #what-disc {

      background: url(../img/tapangi-disc-background.png) center center no-repeat;
      width: 221px;
      height: 221px;
      position: absolute;
      z-index: 10;
      border-radius: 120px;
      box-shadow: 1px 1px 10px 2px rgba(50, 50, 50, 0.3);
      margin-top: 20px;
      margin-left: 115px;
      &.social-active {
        .highlight {
          background-image: url(../img/tapangi-disc-bg-social-active.png);
          @include rotation(120deg);
          .disc-icon {
            @include rotation(-120deg);
            &.disc-icon-social {
              background: url(../img/tapangi-icon-social-active.png) center center no-repeat;
            }
          }

        }
      }

      &.mobile-active {
        .highlight {
          background-image: url(../img/tapangi-disc-bg-mobile-active.png);
          @include rotation(240deg);
          .disc-icon {
            @include rotation(-240deg);
            &.disc-icon-mobile {
              background: url(../img/tapangi-icon-mobile-active.png) center center no-repeat;
            }
          }

        }
      }

      &.cloud-active {
        .highlight {
          background-image: url(../img/tapangi-disc-bg-cloud-active.png);
          @include rotation(360deg);
          .disc-icon {
            @include rotation(360deg);
            &.disc-icon-cloud {
              background: url(../img/tapangi-icon-cloud-active.png) center center no-repeat;
            }
          }

        }
      }
      &.social-over {
        .highlight {
          background-image: url(../img/tapangi-disc-bg-social-hover.png);
          .disc-icon-social {
            background: url(../img/tapangi-icon-social-hover.png) center center no-repeat;
          }
        }
        &.down {
          .highlight {
            background-image: url(../img/tapangi-disc-bg-social-down.png);
            .disc-icon-social {
              background: url(../img/tapangi-icon-social-down.png) center center no-repeat;
            }
          }
        }
      }
      &.mobile-over {
        .highlight {
          background: url(../img/tapangi-disc-bg-mobile-hover.png) center center no-repeat;
          .disc-icon-mobile {
            background: url(../img/tapangi-icon-mobile-hover.png) center center no-repeat;
          }
        }
        &.down {
          .highlight {
            background: url(../img/tapangi-disc-bg-mobile-down.png) center center no-repeat;
            .disc-icon-mobile {
              background: url(../img/tapangi-icon-mobile-down.png) center center no-repeat;
            }
          }
        }
      }
      &.cloud-over {
        .highlight {
          background: url(../img/tapangi-disc-bg-cloud-hover.png) center center no-repeat;
          .disc-icon-cloud {
            background: url(../img/tapangi-icon-cloud-hover.png) center center no-repeat;
          }
        }
        &.down {
          .highlight {
            background: url(../img/tapangi-disc-bg-cloud-down.png) center center no-repeat;
            .disc-icon-cloud {
              background: url(../img/tapangi-icon-cloud-down.png) center center no-repeat;
            }
          }
        }
      }
      .highlight {

        @include rotation(0deg);
        @include transition-timing(.2s);
        &.rotating {
          @include transition-timing(.6s);
        }

        width: 221px;
        height: 221px;
        position: absolute;
        border-radius: 120px;
        background-position: center center;
        background-repeat: no-repeat;
        .prongs {
          background: url(../img/tapangi-disc-prongs.png) center center no-repeat;
          width: 221px;
          height: 221px;
          position: absolute;
          border-radius: 120px;

        }
        > .disc-icons {
          -webkit-transition: .6s ease-in-out center;
          -moz-transition: .6s ease-in-out center;
          -ms-transition: .6s ease-in-out center;
          -o-transition: .6s ease-in-out center;
          transition: .6s ease-in-out center;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
        }
        .disc-icon-social {
          background: url(../img/tapangi-icon-social.png) center center no-repeat;
          width: 75px;
          height: 75px;
          position: absolute;
          top: 20px;
          left: 40px;
        }
        .disc-icon-mobile {
          background: url(../img/tapangi-icon-mobile.png) center center no-repeat;
          width: 75px;
          height: 75px;
          position: absolute;
          top: 125px;
          left: 40px;

        }
        .disc-icon-cloud {
          background: url(../img/tapangi-icon-cloud.png) center center no-repeat;
          width: 75px;
          height: 75px;
          position: absolute;
          top: 70px;
          right: 10px;

        }
      }

    }
  }
}