#who {
  > p, >h3 {
    margin-left: 140px;
  }
  .sub-section {
    padding-bottom: 30px;
    > div {
      display: inline-block;
      vertical-align: top;
    }
    .description {
      padding: 10px;
      width: 445px;
    }
    .photo {
      width: 335px;
      height: 220px;
      background-size: cover;
      background-positon: center center;
      background-repeat: no-repeat;
      &.piotr {
        background-image: url(../img/piotr.jpg);
      }
      &.liz {
        background-image: url(../img/liz.jpg);
      }
    }

  }
}