@font-face {
  font-family: 'TitilliumText22LRegular';
  src: url("../fonts/titilliumtext22l003-webfont.eot");
  src: url("../fonts/titilliumtext22l003-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l003-webfont.woff") format("woff"), url("../fonts/titilliumtext22l003-webfont.ttf") format("truetype"), url("../fonts/titilliumtext22l003-webfont.svg#TitilliumText22LRegular") format("svg");
  font-weight: 400; }

@font-face {
  font-family: 'TitilliumText22LLight';
  src: url("../fonts/titilliumtext22l002-webfont.eot");
  src: url("../fonts/titilliumtext22l002-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l002-webfont.woff") format("woff"), url("../fonts/titilliumtext22l002-webfont.ttf") format("truetype"), url("../fonts/titilliumtext22l002-webfont.svg#TitilliumText22LLight") format("svg");
  font-weight: 250; }

@font-face {
  font-family: 'TitilliumText22LThin';
  src: url("../fonts/titilliumtext22l001-webfont.eot");
  src: url("../fonts/titilliumtext22l001-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titilliumtext22l001-webfont.woff") format("woff"), url("../fonts/titilliumtext22l001-webfont.ttf") format("truetype"), url("../fonts/titilliumtext22l001-webfont.svg#TitilliumText22LLight") format("svg");
  font-weight: 100; }

@media (min-width: 980px) {
  .container.body > div {
    padding-top: 100px; } }
body {
  background: url(../img/tapangi-background.png) repeat;
  background-attachment: fixed; }

.navbar {
  color: #5d636f; }
  .navbar .navbar-inner {
    background-image: none;
    background-color: #ffffff;
    height: 100px; }
    .navbar .navbar-inner .container {
      vertical-align: middle; }
    .navbar .navbar-inner a.logo {
      float: left; }
    .navbar .navbar-inner .nav > li > a {
      font-family: 'TitilliumText22LLight';
      font-size: 26px;
      color: #5d636f;
      display: block; }

@media (max-width: 979px) {
  .navbar .navbar-inner {
    height: 40px; }
  .navbar a.logo {
    background: url(../img/tapangi-logo-40.png) no-repeat;
    width: 38px;
    height: 54px; } }
@media (min-width: 980px) {
  .navbar .navbar-inner a.logo {
    float: left;
    width: 95px;
    height: 135px;
    background: url(../img/tapangi-logo.png) no-repeat; }
  .navbar .navbar-inner .nav > li {
    height: 100px; }
    .navbar .navbar-inner .nav > li > a {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 30px;
      padding-right: 30px; } }
@media (min-width: 1200px) {
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px; } }
#home {
  color: #6e747e;
  padding-top: 125px; }
  #home p {
    font-family: 'TitilliumText22LThin';
    font-size: 45px;
    line-height: 50px;
    margin-left: 180px;
    padding-top: 25px; }
    #home p a {
      text-decoration: none;
      color: #6e747e;
      background-color: #dbff68; }
      #home p a:active {
        text-decoration: none; }
    #home p img {
      vertical-align: middle;
      margin-bottom: 35px; }
