$navbar-text-color: #5d636f;
$navbar-height: 100px;
$navbar-height-collapse: 40px;

.navbar {

  color: $navbar-text-color;

  .navbar-inner {

    background-image: none;
    background-color: #ffffff;
    height: $navbar-height;

    .container {
      vertical-align: middle;
    }

    a.logo {
      float: left;
      width: 95px;
      height: 135px;
      background: url(../img/tapangi-logo.png) no-repeat;
    }
    .nav {
      > li {
        height: $navbar-height;
        .pointy {
          width: 20px;
          height: 20px;
          margin-top: -10px;
          margin-left: 50%;
          margin-right: 50%;
        }
        > a {
          @include default-font;
          color: $navbar-text-color;
          display: block;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-left: 30px;
          padding-right: 30px;
          background: #ffffff;
        }
        &.active {
          > a {
            background: none;
            color: #1a51aa;
          }

        }
      }

    }
  }

}

