$navbar-text-color: #5d636f;
$navbar-height: 100px;
$navbar-height-collapse: 40px;

.navbar {

  color: $navbar-text-color;
  .btn-navbar {
    color: #e5e6e8;
    width: auto;
    background: none;
  }
  .navbar-inner {

    background-image: none;
    background-color: #ffffff;
    height: $navbar-height;

    .container {
      vertical-align: middle;

    }

    a.logo {
      float: left;
      width: 95px;
      height: 135px;
      background: url(../img/tapangi-logo.png) no-repeat;
    }
    .nav {
      > li {
        height: $navbar-height;
        .pointy {
          width: 20px;
          height: 20px;
          margin-top: -10px;
          margin-left: 50%;
          margin-right: 50%;
        }
        > a {
          @include default-font;
          color: $navbar-text-color;
          display: block;
          padding-top: 40px;
          padding-bottom: 40px;
          padding-left: 30px;
          padding-right: 30px;
          background: #ffffff;
        }
        &.active {
          > a {
            background: #ffffff;
            color: #1a51aa;
          }

        }
      }

    }
  }

}

@media (max-width: 979px) {
  .navbar {
    &.navbar-fixed-top {
      position: static;
      //margin-bottom: 18px;
    }
  }
}

@media (max-width: 767px) {

  .navbar {
    &.navbar-fixed-top {
      position: static;
      //margin-bottom: 18px;
    }
    .navbar-inner {
      background-color: #ffffff;
      .container {
        width: auto;

        a.logo {
          float: left;
          width: 76px;
          height: 108px;
          background: url(../img/tapangi-logo.png) no-repeat;
          background-size: contain;
        }

      }
      .nav {
        > li {
          float: none;
          height: 60px;
          > a {

            padding-top: 20px;
            padding-bottom: 20px;
          }
          &.active {
            > a {
              color: #1a51aa;
            }

          }
        }
      }

    }
  }

  .nav-collapse {
    clear: both;
    .nav {
      float: none;
      margin: 0 0 9px;
      > li {
        float: none;
        > a {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
      > .divider-vertical {
        display: none;
      }
      .nav-header {
        color: #999999;
        text-shadow: none;
      }
      > li > a, .dropdown-menu a {
        padding: 6px 15px;
        font-weight: bold;
        color: #999999;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
      }
    }
    .btn {
      padding: 4px 10px 4px;
      font-weight: normal;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }
  }

//.nav-collapse .nav > li > a:hover,
//.nav-collapse .dropdown-menu a:hover {
// // background-color: #222222;
//}

  .nav-collapse.in .btn-group {
    padding: 0;
    margin-top: 5px;
  }

  .nav-collapse .dropdown-menu {
    position: static;
    top: auto;
    left: auto;
    display: block;
    float: none;
    max-width: none;
    padding: 0;
    margin: 0 15px;
    background-color: transparent;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .nav-collapse .dropdown-menu:before,
  .nav-collapse .dropdown-menu:after {
    display: none;
  }

  .nav-collapse .dropdown-menu .divider {
    display: none;
  }

  .nav-collapse .navbar-form,
  .nav-collapse .navbar-search {
    float: none;
    padding: 9px 15px;
    margin: 9px 0;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
  }

  .nav-collapse,
  .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
  }

  .navbar .btn-navbar {
    display: block;
  }

  .navbar-static .navbar-inner {
    padding-right: 10px;
    padding-left: 10px;
  }
}

