$navbar-text-color: #5d636f;
$navbar-height: 100px;
$navbar-height-collapse: 40px;

.navbar {

  color: $navbar-text-color;

  .navbar-inner {
    background-image: none;
    background-color: #ffffff;
    height: $navbar-height;

    .container {
      vertical-align: middle;
    }

    a.logo {
      float: left;

    }

    .nav {
      > li {
        > a {
          @include default-font;
          color: $navbar-text-color;
          display: block;
        }
      }

    }
  }
}

@media (max-width: 979px) {
  .navbar {
    .navbar-inner {
      height: $navbar-height-collapse;
    }
    a.logo {
      background: url(../img/tapangi-logo-40.png) no-repeat;
      width: 38px;
      height: 54px;
    }
  }
}

@media (min-width: 980px) {
  .navbar {
    .navbar-inner {
      a.logo {
        float: left;
        width: 95px;
        height: 135px;
        background: url(../img/tapangi-logo.png) no-repeat;
      }
      .nav {
        > li {
          height: $navbar-height;
          > a {
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 30px;
            padding-right: 30px;

          }
        }

      }
    }
  }
}

@media (min-width: 1200px) {
  .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px;
  }
}