@font-face {
  font-family: 'TitilliumText22LRegular';
  src: url('../fonts/titilliumtext22l003-webfont.eot');
  src: url('../fonts/titilliumtext22l003-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titilliumtext22l003-webfont.woff') format('woff'), url('../fonts/titilliumtext22l003-webfont.ttf') format('truetype'), url('../fonts/titilliumtext22l003-webfont.svg#TitilliumText22LRegular') format('svg');
  font-weight: 400;

}

@font-face {
  font-family: 'TitilliumText22LLight';
  src: url('../fonts/titilliumtext22l002-webfont.eot');
  src: url('../fonts/titilliumtext22l002-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titilliumtext22l002-webfont.woff') format('woff'), url('../fonts/titilliumtext22l002-webfont.ttf') format('truetype'), url('../fonts/titilliumtext22l002-webfont.svg#TitilliumText22LLight') format('svg');
  font-weight: 200;

}

@font-face {
  font-family: 'TitilliumText22LThin';
  src: url('../fonts/titilliumtext22L001-webfont.eot');
  src: url('../fonts/titilliumtext22L001-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titilliumtext22L001-webfont.woff') format('woff'), url('../fonts/titilliumtext22L001-webfont.ttf') format('truetype'), url('../fonts/titilliumtext22L001-webfont.svg#TitilliumText22LLight') format('svg');
  font-weight: 100;

}

@mixin default-font {
  font-family: 'TitilliumText22LLight';
  font-size: 26px;
}

@media (min-width: 980px) {
  body {
    //padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
  }
  .container.body > div {
    padding-top: 100px;

  }
}

body {
  background: url(../img/tapangi-background.png) repeat;
  background-attachment:fixed;
}

