#who {
  .sub-section {
    padding-bottom:30px;
    > div {
      display: inline-block;
      vertical-align: top;
    }
    .description {
      padding: 10px;
      width:470px;
    }
    .photo {
      width:335px;
      height:220px;
      &.piotr {
        background: url(../img/piotr.jpg) center center no-repeat;
      }
      &.liz {
        background: url(../img/liz.jpg) center center no-repeat;
      }
    }

  }
}