@media (max-width: 979px) and (min-width: 768px) {
  .container {
    #contact-section {
      .icon-email {
        width: 100px;
      }
      .icon-twitter {
        width: 100px;
      }
      .tweets {
        .feedcell {
          .feedtext {
            width: 310px;

          }
        }
      }
    }
  }
}

