@media (max-width: 979px) and (min-width: 768px) {
  .container {
    #contact-section {
      .icon-email {
        width: 85px;
      }
      .icon-twitter {
        width: 85px;
      }
      .icon-github {
        width: 85px;
      }
      .tweets {
        .feedcell {
          max-width: 351px;
          .feedtext {
            max-width: 277px;

          }
        }
      }
      form ul li {
        .submit {
          margin-left: 115px;
        }
        label.desc {
          width: 110px;
        }
      }
    }
  }
}
