@media (max-width: 979px) and (min-width: 768px) {
  .container {
    &.body {
      > div {
       // padding-top: 20px;
      }
    }
    width: 740px;

    .section {

      > h3, > p {
        margin-left: 120px;
        margin-right: 120px;
      }
      .sub-section {
        .carousel {
          margin-left: 110px;
          margin-right: 110px;
          .item {
            margin-left: 250px;
            p {
              padding-right: 25px;
            }
            li {
              font-size: 14px;
            }
          }
        }
      }
      .side-label {
        width:110px;
      }
    }
  }
  .break {
    height: 37px;
   // margin-top: -37px;
  }
  .section {
    margin-bottom: -37px;
  }
}


