@media (max-width: 979px) and (min-width: 768px) {
  .container {
    #what-section {
      .sub-section {
        .carousel {
          height: 355px;
          .carousel-control {
            padding-top: 165px;
          }
        }
      }
      #what-disc {
        margin-top:60px;
        margin-left:120px;
      }
    }
  }
}

